@page "/getallcrops"

<PageTitle>Get All Crops</PageTitle>

@using StellarLib
@using Microsoft.Extensions.DependencyInjection
@using Microsoft.Extensions.Logging;
@inject ICropRepository cropRepository;

<h1>Get All Crops</h1>

<p>This component will fetch all crops and display into a basic table</p>


@if (false)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var crop in crops)
            {
                <tr>
                    <td>@crop.name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    IEnumerable<Crop> crops = Array.Empty<Crop>();

    protected override async void OnInitialized()
    {
        base.OnInitialized();

        @* var tt = farmerRepository.GetAll();
        tt.Wait();
        farmers = tt.Result; *@
        crops = await cropRepository.GetAll();
    }
}
