@page "/getallfarmers"

<PageTitle>Get All Farmers</PageTitle>

@using StellarLib
@using Microsoft.Extensions.DependencyInjection
@using Microsoft.Extensions.Logging;
@inject IFarmerRepository farmerRepository;

<h1>Get All Farmers</h1>

<p>This component will fetch all farmers and display into a basic table</p>


@if (false)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var farmer in farmers)
            {
                <tr>
                    <td>@farmer.name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    IEnumerable<Field> farmers = Array.Empty<Field>();

    protected override async void OnInitialized()
    {
        base.OnInitialized();

        @* var tt = farmerRepository.GetAll();
        tt.Wait();
        farmers = tt.Result; *@
        farmers = await farmerRepository.GetAll();
    }
}
