<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">StellarWeb</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="getallfarmers">
                <span class="oi oi-list-rich" aria-hidden="true"></span> GetAll() Farmers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="getallfarms">
                <span class="oi oi-list-rich" aria-hidden="true"></span> GetAll() Farms
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="getallfields">
                <span class="oi oi-list-rich" aria-hidden="true"></span> GetAll() Fields
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="getallboundaries">
                <span class="oi oi-list-rich" aria-hidden="true"></span> GetAll() Boundaries
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="getallcrops">
                <span class="oi oi-list-rich" aria-hidden="true"></span> GetAll() Crops
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="getallseasons">
                <span class="oi oi-list-rich" aria-hidden="true"></span> GetAll() Seasons
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
